/***********

IDENTIFICATION

***********/

section.background{
    position: relative;
}

section.background img{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

section.background canvas{
    position: absolute;
    z-index: 2;
}

