body {
    background: #eee;
    font-family: Helvetica, Arial;
    font-size: 14px;
}

.left{
    float: left;
}

.right{
    float: right;
}

a{
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 3px 3px 8.91px 0.09px rgba(0, 0, 0, 0.10);
}

a:hover{
    background: rgba(0, 0, 0, 0.15);
}

input{
    box-shadow: 3px 3px 8.91px 0.09px rgba(0, 0, 0, 0.10);
}

input:focus{
    box-shadow: 3px 3px 8.91px 0.09px rgba(0, 0, 0, 0.25);
}

/***********

TOP

***********/

h1{
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
}

.connection{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.connection a{
    justify-content: center;
}

.connection a:nth-child(1){
    margin-right: 20px;
}


/***********

INVENTORY

***********/

.inventory ul{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.inventory ul li{
    cursor: pointer;
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background: white;
    box-shadow: 3px 3px 8.91px 0.09px rgba(0, 0, 0, 0.15);
}

.inventory ul li:last-child{
    border: none;
}

.inventory ul li.open{
    background: rgba(0, 0, 0, 0.15);
}

.inventory ul li:hover{
    background: rgba(0, 0, 0, 0.05);
}

/***********

CONTENT

***********/

.inventory article{
    width: 90%;
    height: 500px;
    background: white;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.inventory article div{
    width: 200px;
    height: 300px;
    background: #eee;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 3px 3px 8.91px 0.09px rgba(0, 0, 0, 0.15);
}

.inventory article div.content-item img{
    width: 200px;
    height: 200px;
}

.inventory article div.content-item p.content-item-title{
    margin: 10px;
    text-align: center;
}

.inventory article div.content-item p.content-item-description{
    margin: 10px;
}

.inventory article div.add-content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

